* {
	font-family:Helvetica;
}

html, body {
    min-height: 100%;
    color: #477b91;
}
h1, h2, h3, h4, h5, h6 {
    color: #315065;
}

a {
    color: #477b91;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e0e9f0+51,ffffff+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e0e9f0 51%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e0e9f0 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e0e9f0 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
