

.btn {
    height: 45px;
    font-weight: bold;
    font-size: 20px;
}

.btn-primary {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f73af+0,014b88+100 */
    background: #0f73af; /* Old browsers */
    background: -moz-linear-gradient(top, #0f73af 0%, #014b88 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0f73af 0%,#014b88 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0f73af 0%,#014b88 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f73af', endColorstr='#014b88',GradientType=0 ); /* IE6-9 */
}

.screen-heading {
    padding: 15px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eef5fd+0,e3effc+100 */
    background: #eef5fd; /* Old browsers */
    background: -moz-linear-gradient(top, #eef5fd 0%, #e3effc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eef5fd 0%,#e3effc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eef5fd 0%,#e3effc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef5fd', endColorstr='#e3effc',GradientType=0 ); /* IE6-9 */
}

.screen-heading a {
    float: left;
    font-size: 40px;
    line-height: 40px;
    padding: 0px 10px;
}

.screen-heading h1 {
    padding-left: 80px;
    margin: 0px;
    line-height: 40px;
    font-weight: bold;
}

.screen-body {
    padding: 15px 20px;
}

.screen-body h4 {
    line-height: 27px;
    margin-bottom:0px;
}

.screen-body .accordion-head a > i {
    font-size: 40px;
    float: left;
}

.screen-body .accordion-head a > span {
    display: block;
    padding-left: 75px;
    font-size: 27px;
    line-height: 40px;
}

.screen-body .accordion-head a > span i {
    float: right;
    margin-top: 5px;
}

.screen-body .accordion-body {
    padding: 15px 75px;
    color:#477b91;
}

.screen-body form {
    margin: 0px;
}

.screen-body form .form-control {
    height: 45px;
}

.screen-body form .info-block span {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.screen-body form .info-block .checkbox-holder paper-checkbox {
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin-top:12px;
    color: #315065;
}

.screen-body .links h4 {
    margin-bottom: 25px;
}

.screen-body .links h4 a {
    text-decoration: underline;
}

.add-link {
	padding:0px;
	margin-top: -5px;
    background-color: #2164a3;
    height: 42px;
    min-height:auto;
}

.add-link a {
	line-height: 35px;
    height: inherit;
    text-align: center;
    color: #ffffff;
    font-size: 27px;
    font-weight: bold;
}

.form-horizontal .align-center,
.form-horizontal  paper-button.indigo {
	width:100%;
	margin-left:0px;
}

.input-group-addon {
	background:transparent;
	border:none;
}


@media only screen and (max-width: 600px) {
    .screen-heading h1 {
        font-size: 27px;
        padding-left: 40px;
    }

    .screen-body .accordion-head a > i {
        font-size: 32px;
    }

    .screen-body .accordion-head a > span {
        padding-left: 40px;
    }

    .screen-body .accordion-body {
        padding: 15px 40px;
    }

}